{% extends "main/base.html" %}

{% block title %}
    <title>Home - BTD6 Guide</title>
{% endblock %}

{% block content %}
    <h4>Bloons Tower Defense 6 Guide</h4>
    <p>Welcome to an ad-free site for BTD6 beginners and experts alike. You can find walk-throughs, glitches, challenge guides, as well as look up the best tower crosspaths or version changes.</p>
    <em>This site is currently under development. Functionalities may be temporarily broken.</em>
    <br><br>
    <img src="https://vignette.wikia.nocookie.net/b__/images/8/83/Slider_-_BTD6M.png/revision/latest?cb=20180628202517&path-prefix=bloons" alt="btd6 image">
    <br><br>
    <p>Beginners can start <a href="/beginner">here</a></p>
    <p>Or go <a href="/guides">here</a> for all guides.</p>
{% endblock %}