{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == "success" %}
            <script>M.toast({html: "{{ msg }}", classes: "grey darken-3 rounded", displayLength: 2000});</script>
        {% elif msg.tags == "info" %}
            <script>M.toast({html: "{{ msg }}", classes: "grey darken-3 rounded", displayLength: 2000});</script>
        {% elif msg.tags == "warning" %}
            <script>M.toast({html: "{{ msg }}", classes: "red darken-1 rounded", displayLength: 10000});</script>
        {% elif msg.tags == "error" %}
            <script>M.toast({html: "{{ msg }}", classes: "red darken-1 rounded", displayLength: 10000});</script>
        {% endif %}
    {% endfor %}
{% endif %}